DATABASE_URL=mssql+aioodbc:///?odbc_connect=Driver%3D%7BODBC+Driver+17+for+SQL+Server%7D%3BServer%3DDESKTOP-QBCI725%5CSQLEXPRESS%3BDatabase%3DTodoDb%3BTrusted_Connection%3Dyes%3BTrustServerCertificate%3Dyes%3BEncrypt%3Dyes
APP_ENV=development
DEBUG=true
