DATABASE_URL=mssql+aioodbc:///?odbc_connect=DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost\SQLEXPRESS;DATABASE=TodoDb;Trusted_Connection=yes;
APP_ENV=development
DEBUG=True
ALLOWED_ORIGINS=["http://localhost:5173"]
